{{#each ideas}}
<div class="card card-body mb-2">
    <h4>{{title}}</h4>
    <p>{{details}}</p>
    <a href="/ideas/edit/{{id}}" class="ui active button btn-block mt-4 mb-1">edit</a>
    <form action="/ideas/{{id}}?_method=DELETE" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" class="ui button negative btn-block" value="Delete">
    </form>
</div>
{{else}}
<p>No video ideas yet..!</p>
{{/each}}